.porfolio .container .content {
 width: 100%;
}

.portfolio-list {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 max-width: 100%;
 gap: 35px;
 margin: 0 auto;

}

.portfolio-list .img-card {
 position: relative;
 max-width: 100%;
 height: 360px;
 border-radius: 10px;
 box-shadow: var(--box-shadow);
 overflow: hidden;
 cursor: pointer;

}

.portfolio-list .img-card .overlay {
 transition: 1s ease;
}

.portfolio-list .img-card:hover .overlay {
 z-index: 777;
 position: absolute;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
}

.portfolio-list .img-card .info {
 z-index: 777;
 position: absolute;
 bottom: 0;
 left: 0;
 margin: 20px;
 color: #fff;
 transform: translateY(20px);
 opacity: 0;
 transition: .5s ease;
 visibility: hidden;
}

.portfolio-list .img-card:hover .info {
 transform: translateY(0);
 opacity: 1;
 visibility: visible;
}

.portfolio-list .img-card .info h3, .porfolio-model-body h3 {
 font-size: 1.5em;
}

.portfolio-list .img-card .info span, .porfolio-model-body p {
 font-size: 1.2em;
}

.portfolio-list .img-card .info img {
 width: 100%;
 height: 100%;
 background-size: cover;
}

.portfolio-model {
 z-index: 999999;
 position: fixed;
 width: 100%;
 height: 100vh;
 top: 0;
 left: 0;
 background-size: var(--transparent-color-01);
 backdrop-filter: blur(20px);
 transition: .5s ease all;
 opacity: 0;
 transform: translateY(-50px);
 visibility: hidden;
}

.portfolio-model.active {
 visibility: visible;
 opacity: 1;
 transform: translateY(0px);

}

.porfolio-model-body {
 position: relative;
 background: var(--modal-bg-color);
 max-width: 600px;
 margin: 20px;
 padding: 40px;
 border-radius: 10px;
 box-shadow: var(--box-shadow);
}

.porfolio-model-body img {
 width: 100%;
 margin: 20px 0;
 border-radius: 10px;

}

.portfolio-close-btn {
 position: absolute;
 top: 0;
 right: 0;
 margin: 20px;
 cursor: pointer;
}


.get-in-touch {
 margin-top: 70px;
}

.get-in-touch .container .content {
 width: 100%;
}

.get-in-touch .contact-card {
 position: relative;
 width: 90%;
 background: var(--card-bg-color);
 box-shadow: var(--box-shadow);
 padding: 50px;
 border-radius: 10px;
 column-gap: 50px;
}

.get-in-touch .contact-card .title {
 text-transform: uppercase;
 list-style-type: 60px;
}

.get-in-touch .contact-card .title h4 {
 font-size: 1.2em;
 font-weight: 300;
 line-height: 20px;
}

.get-in-touch .contact-card .title h3 {
 font-size: 2.3em;
 font-weight: 400;
}

.get-in-touch .contact-card .title h2 {
 font-size: 4.2em;
 font-weight: 700;
 background: linear-gradient(to top, transparent 0%, var(--first-color) 30%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 opacity: .9;
}


/** Contact Section*/
.contact .container .content {
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.contact-left h2 {
 font-size: 2.1em;
 font-weight: 800;
 margin-bottom: 40px;
}

.contact-list li {
 margin-bottom: 40px;

}

.contact-list li h3 {
 font-size: 1.3em;
 font-weight: 600;
 margin-bottom: 10px;
}

.contact-list li h3 i {
 color: var(--second-color);
 font-size: 1.3em;
 margin-right: 10px;
}

.contact-list li span {
 color: var(--third-color);
 margin-left: 40px;
}

.contact-list li span a {
 color: var(--third-color);
}

.contact-right p {
 font-size: 1.6em;
 color: var(--first-color);
 margin-bottom: 30px;
}

.contact-right p span {
 color: var(--first-color);
 font-weight: 700;
}

.contact-right .btn {
 cursor: pointer;
 border-radius: 5px;
 margin-top: 0;
 border: none;
}

.contact-form input, .contact-form textarea {
 border: none;
 color: var(--first-color);
 background: var(--transparent-color-02);
 font-size: var(--normal-font-size);
 margin-bottom: 20px;
 padding: 15px 40px 40px 20px;
 border-radius: 5px;
 outline: none;
}

.contact-form textarea {
 width: 100%;
 resize: none;
}

::placeholder {
 color: var(--first-color);
}

.contact-form .first-row input {
 width: 100%;

}

footer {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: var(--second-color);
 width: 100%;
 margin-top: 50px;
 padding: 3rem 2rem;
 color: #fff;
}

footer a {
 color: #fff;

}

.footer-container {
 display: flex;
 justify-content: space-between;
 width: 100%;
 max-width: 1150px;
}

.footer-container .about h2 {
 font-size: 3em;
 font-weight: 600;
 background: linear-gradient(to top, transparent 0%, #fff 50%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 opacity: .8;
}

.footer-container .about p {
 font-size: var(--normal-font-size);
 font-weight: 300;
 margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow {
 display: flex;
 align-items: center;
 flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3 {
 font-size: 1.1em;
 font-weight: 500;
 margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul {
 display: flex;
}

.footer-container .info a {
 margin: 20px;
}

.footer-container .follow a {
 font-size: 1.5em;
 margin: 20px;
}

.footer-copyright p {
 margin-top: 20px;
 font-size: var(--normal-font-size);
}
